* {
    color:aliceblue;
    font-family: 'Caveat', cursive;

}

/* degug overflow */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

a {
    text-decoration: none;
}

h3 {
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    background-image: url("/img/bgImg.jpg");
    background-size:100vw;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

#topSection {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: baseline;
    flex-wrap: wrap;

}

#topSection header {
    /* display: inline-block; */
    flex-basis: 15%;
    text-align: center;
    /* flex-grow: 1; */
}

#topSection nav {
    flex-basis: 85%;
}

#navUl {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#navUl li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
}

#leftMain {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    justify-content: flex-start;    
    overflow-x: hidden;
}

/* .header {    
    margin-left: 10%;
    text-align: start;
    font-size: 150%;
}

.header h1{    
    margin-top: 0;
} */

#headers {
    display: flex;
    flex-direction: row;
    /* margin-left: 10%; */
    text-align: start;
    font-size: 150%;
}

#headers h1 {
    margin-top: 0;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 150%;
    }
  
    to {
      margin-left: 10%;
    }
}

#headers h1:nth-of-type(1) {
    padding-left: 5%;
    flex-basis: 70%;
}

#headers h1:nth-of-type(2) {
    flex-basis: 30%;
}

#eduTable {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 5%;
    font-size: 1rem;
    border-collapse:collapse;
    width: 80%;
    height: 100%;
}

#eduTable, #eduTable th, #eduTable td {
    border: 1px solid cyan;
    text-align: center;
    padding: 2%;
    background-color: #060a23;
}

#leftMainContent::selection {
    background-color: bisque;
    color: #060a23;
}

/* #currPage {
    margin-top: 0;
    font-size: 250%;
    margin-left: 10%;
    animation-duration: 2s;
    animation-name: slidein;
} */

#rightMain {
    flex-basis: 30%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project {
    transition: 0.3s;
}

.project:hover {
    width:auto;
    height: auto;
    background-color: aliceblue;
    padding: 1%;    
    color:blue;
}

/* #downloadResume {
    display: inline-block;
    width: 12ch;
    height: 7ex;
    text-align: center;
    color:blue;
    background-color: aliceblue;
    transition: 0.5s;
}

#downloadResume:hover{
    background-color: aqua;
    color: darkblue;
    border-radius: 50%;
} */

#footerSection1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#footerSection1 h1 {
    flex-basis: 30%;
    padding-left: 2vw;
}


#footerSection2 {
    display: flex;
    flex-basis: 70%;
    flex-direction: row;
    justify-content: space-around;    
    align-items: center;
    
}

#footerMedia {
    /* flex-basis: 70%; */
    text-align: end;
}

.mediaImg {
    width: 25px;
    height: 25px;
}